namespace: db-space
servicename: postgres-service
applicationName: postgres
image:
  repository: postgres
  tag: "15-alpine"
  pullPolicy: IfNotPresent

resources:
  requests:
    memory: "256Mi"
    cpu: "250m"
  limits: 
    memory: "512Mi"
    cpu: "1000m"

probesIntervalsSeconds:
  readiness:
    initialDelay: "5"
    period: "10"

  liveness:  
    initialDelay: "30"
    period: "10"

quota:
  hard:
    cpu:
      requests: "1500m"
      limits: "2"
    memory:
      requests: "2Gi"
      limits: "3Gi"     
    pods: "3"
    volumes:
      claims: "2"
      storage: "5Gi"
    
networkPolicy:
  enabled: true
  fromNamespace: "app-space"
  allowedPodLabel: "hello-api"
  dbPort: 5432

auth:
  database: "hello_db"
  username: "postgres"
  password: "password" 

persistence:
  size: 1Gi
  accessMode: ReadWriteOnce
  mountPath: /var/lib/postgresql/data

dbConfig:
  max_connections: "100"
  shared_buffers: "128MB"
  log_statement: "all"

initScripts:
  create_tables.sql: |
    CREATE TABLE IF NOT EXISTS "user" (
        username VARCHAR PRIMARY KEY,
        date_of_birth DATE NOT NULL
    );